/* ejercicio2a.css   PC12016  */

pais {background-color:pink;}
departamento{background-color:#87CEEB; display:block;}
cabecera {color:white; display:inline;}
habitantes {color:black; display:inline;}
altura {color:orange;font-size:1.5cm; display:true;}



