/* ejercicio2b.css   PC12016  */

pais {background-color:#EB7146;}
departamento{background-color:#A899F5; display:block;}
cabecera {color:white; display:inline;}
habitantes {color:black; display:inline;}
altura {color:orange;font-size:1.5cm; display:true;}



